body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding: 0;
  background-color: beige;
}

header,footer{
  background-color: #705035;
  color:white;
  padding: 2em;
  text-align: center;
}

main{
  padding 2em;
}

form{
  max-width: 600px;
  margin:auto;
  background:white;
  padding: 4em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

fieldset{
  border: 1px solid white;
  margin-bottom: 2em;
  padding: 2em;

}

legend{
  font-weight: bold;
}

label{
  display: block;
  margin-bottom: 1em;
}

input,select, textarea{
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;

}

input[type="radio"],input[type="checkbox"]{
  width:auto;
}

.submit-buttons{
  display: flex;
  justify-content: space-between;

}
.submit-buttons buttons{
  width: 48%;
  padding: 1em;
  font-size: 2em;
  border: none;
  cursor: pointer;


}

.submit-buttons button[type="submit"]{
  background-color: grey;
  color: black;

}

.submit-buttons button[type="reset"]{
  background-color: grey;
  color: black;

}

.pizza-image{
  text-align:center;
  margin-bottom: 2em;
}

.pizza-image img{
  max-width:100%;
  height:auto;
}